<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Note Keeper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-item *ngFor="let note of noteList">
      <app-note-card [note]="note" (getId)="updateNote($event)"></app-note-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer
  class="footer-size"
  routerLink="create-note"
  routerDirection="forward"
  routerLinkActive="router-link-active"
>
  <ion-toolbar>
    <label class="add-new-note">
      Add new Note...
    </label>
  </ion-toolbar>
</ion-footer>
